doctype html
html
	head
		title= title


		// jquery core
		script(src='https://code.jquery.com/jquery-1.11.2.min.js')

		// jquery core
		script(src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js')

		script(src='/javascripts/bootstrap.min.js')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')

		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/style.js')

	body
		block content