p
	span.red Q:
	| 	請問畢業校友可以報名嗎？
	br
	span.red A:
	| 	可以，只要團隊成員內有至少一位臺大學生或校友即可參賽。
br
p
	span.red Q:
	| 	請問獎金發放方式？
	br
	span.red A:
	| 	簽訂合約後，50萬獎金(含稅)一次發放！

br
p
	span.red Q:
	| 	是否餅越大，越容易拿獎呢？
	br
	span.red A:
	| 	不是的，我們在第一階段會針對產品
	| 	創新程度40%、可行性30%、產品商機30% 來進行評估。
br
p
	span.red Q:
	| 	已有工作室或行號可來申請嗎？
	br
	span.red A:
	| 	比賽辦法規定，若貴單位已成立公司則不符合此條件，
	| 	比賽辦法內未提及不行的，則可以。
	| 	因此擁有工作室但是未成立公司，是符合申請條件的。
br
p
	span.red Q:
	| 	若負責人已有自己的公司，可否另外以未成立公司之團隊參賽 ?
	br
	span.red A:
	| 	比賽辦法並未提及不行，所以可以。 
	| 	但評分標準內有個項目是可行性30%，
	| 	因此評審會有疑慮是否能同時兼顧公司運作與計畫執行，
	| 	有可能影響您第一階段篩選。
br
p
	span.red Q:
	| 	同一個人可以同時參加兩個(以上)的團隊嗎 ?
	br
	span.red A:
	| 	比賽辦法並未提及不行，所以可以。 
	| 	但創業本來就需要投入大量的心力，
	| 	本單位不建議您同時參與多個專案， 
	| 	評分標準內有個項目是可行性30%， 
	|	評審對於您的多專案同時參與的可行性可能會有疑慮， 
	|	有可能影響您第一階段篩選。


