div.row
	div.col-md-6.col-xs-12.col-ms-12
		div.row
			h1 競賽宗旨
		div.row.content.text-align-center
			p
				| 為推動臺大校園創業風氣、營造校園創業環境、
				| 並鼓勵有創業構想之團隊發揮創新、專注、
				| 改變社會之影響力以及動手作，特舉辦創業競賽，
				| 提供新創團隊驗證其創業構想之獎勵金。
	div.col-md-6.col-xs-12.col-ms-12.left-border
		div.row
			h1 參賽資格
		div.row.content.text-align-center
			p
				| 尚未成立公司之團隊，
				| 團隊成員必須包含至少一位臺大學生或畢業校友
				| 企劃必須為長期的事業，
				| 而非單次性的專案、計畫或活動。 